[{
	"text" : "Deze plek voor groep 1 is nog leeg. Wil jij ook hallo zeggen? Klik dan op een vliegende bij.",
	"submitter": "",
	"group": "1",
	"drawing": ""
},
{
	"text" : "Deze plek voor groep 2 is nog leeg. Wil jij ook hallo zeggen? Klik dan op een vliegende bij.",
	"submitter": "",
	"group": "2",
	"drawing": ""
},
{
	"text" : "Deze plek voor groep 3 is nog leeg. Wil jij ook hallo zeggen? Klik dan op een vliegende bij.",
	"submitter": "",
	"group": "3",
	"drawing": ""
},
{
	"text" : "Deze plek voor groep 4 is nog leeg. Wil jij ook hallo zeggen? Klik dan op een vliegende bij.",
	"submitter": "",
	"group": "4",
	"drawing": ""
},
{
	"text" : "Deze plek voor groep 5 is nog leeg. Wil jij ook hallo zeggen? Klik dan op een vliegende bij.",
	"submitter": "",
	"group": "5",
	"drawing": ""
},
{
	"text" : "Deze plek voor groep 6 is nog leeg. Wil jij ook hallo zeggen? Klik dan op een vliegende bij.",
	"submitter": "",
	"group": "6",
	"drawing": ""
},
{
	"text" : "Deze plek voor groep 7 is nog leeg. Wil jij ook hallo zeggen? Klik dan op een vliegende bij.",
	"submitter": "",
	"group": "7",
	"drawing": ""
},
{
	"text" : "Deze plek voor groep 8 is nog leeg. Wil jij ook hallo zeggen? Klik dan op een vliegende bij.",
	"submitter": "",
	"group": "8",
	"drawing": ""
},
{
	"text" : "Deze plek voor de meesters en juffen is nog leeg. Wil jij ook hallo zeggen? Klik dan op een vliegende bij.",
	"submitter": "",
	"group": "0",
	"drawing": ""
},
{
	"text" : "Het is heel leuk thuis",
	"submitter": "Marieke",
	"group": "3A",
	"drawing": ""
},
{
	"text" : "Ik verveel me",
	"submitter": "Hidde",
	"group": "6B",
	"drawing": ""
}]